<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
    const ice = "<%= ice %>"
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="script.js" defer></script>
  <title>Document</title>
  <style>
    #video-grid {
      display: flex;
      flex-wrap: wrap;
    }
    
    video {
      display: block;
      width: 50%;
      object-fit: cover;
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }

    @media screen and (max-width: 480px) {
      video {
        width: 100%;
      }
       
      }


     

    .local-user {
      position: fixed;
      width: 200px;
      height: 200px;
      bottom: 0;
      right: 50px;
      z-index: 9;
      object-fit: contain;
    }

    @media screen and (max-width: 480px) {
      .local-user  {
        right: 0;
      }
       
      }
  </style>
</head>
<body>
  <div id="video-grid"></div>
</body>
</html>